* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  --very-dark-blue-main-background: hsl(233, 47%, 7%);
  --dark-desaturated-blue-ccard-background: hsl(244, 38%, 16%);
  --soft-violet-accent: hsl(277, 64%, 61%);
  --white-main-heading-stats: hsl(0, 0%, 100%);
  --slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
  font-family: "Inter", sans-serif;
  background: var(--very-dark-blue-main-background);
  display: flex;
  flex-direction: column;
  place-content: center;
}

.wrapper {
  background: var(--dark-desaturated-blue-ccard-background);
  width: 90%;
  max-width: 1440px;
  margin: 5rem auto;
  border-radius: 0.5rem;
}

.img-holder {
  background: var(--soft-violet-accent);
  margin: auto;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.img-holder img {
  opacity: 0.5;
  margin: auto;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  height: fit-content;
  width: 100%;
}

.data-text {
  padding: 2rem;
  text-align: center;
  margin-top: 1rem;
}

.h1 {
  font-size: 38px;
  font-weight: 700;
  color: var(--white-main-heading-stats);
}

.p1 {
  color: var(--slightly-transparent-white-main-paragraph);
}

.h1 span {
  color: var(--soft-violet-accent);
}

.text-top .p1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.stats ul li:nth-child(1) {
  color: var(--white-main-heading-stats);
  font-weight: 700;
  font-size: 30px;
}

@media screen and (min-width: 1440px) {
  body {
    height: 100vh;
  }

  .wrapper {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    justify-content: space-between;
    align-items: center;
  }

  .img-holder {
    border-bottom-right-radius: 0.5rem;
  }

  .img-holder img {
    width: unset;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0.5rem;
    height: fit-content;
  }

  .data-text {
    text-align: left;
    margin: auto;
    width: 40%;
  }

  .h1 {
    font-size: 45px;
    margin-bottom: 0.5rem;
  }

  .text-top .p1 {
    font-size: 19px;
  }

  .stats {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}
